<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Berechtigung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [color]="hasCameraPermission ? 'success' : 'danger'">
      <ion-label>
        {{ hasCameraPermission ? 'Kameraberechtigung erteilt' :
        'Kameraberechtigung fehlt' }}
      </ion-label>
      <ion-button
        expand="block"
        color="secondary"
        [disabled]="hasCameraPermission"
        (click)="requestCameraPermission()"
        >anfordern
      </ion-button>
    </ion-item>
    <ion-item [color]="hasLocationPermission ? 'success' : 'danger'">
      <ion-label>
        {{ hasLocationPermission ? 'Standortberechtigung erteilt' :
        'Standortberechtigung fehlt' }}
      </ion-label>
      <ion-button
        expand="block"
        color="secondary"
        [disabled]="hasLocationPermission"
        (click)="requestLocationPermission()"
        >anfordern
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="buttonClicked()"> Weiter </ion-button>
</ion-content>
