<div class="content">
  <ion-text class="ion-text-center"
    >Please scan the QR code containing the following information:
    <ion-label color="danger">{{ toScanValue }}</ion-label>
  </ion-text>

  <ion-button (click)="scan()" expand="block" *ngIf="!taskCompleted">
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    Scan
  </ion-button>

  <div *ngIf="scanAttempted">
    <div *ngIf="taskCompleted; else elseBlock" class="result correct">
      Correct
    </div>
    <ng-template #elseBlock>
      <div class="result incorrect">False</div>
    </ng-template>
  </div>
</div>
