<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="start()">
    <div class="page-img">
      <img src="assets/img/schnitzeljagd.jpg" alt="Schnitzeljagd">
    </div>
    <div class="form-item">
      <label for="username">Nutzername:</label>
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Nutzername eingeben" />
    </div>
    <ion-button
      expand="block"
      type="submit"
      [disabled]="!loginForm.valid">
      Start
    </ion-button>
  </form>
</ion-content>