<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="start()">
    <div class="page-img">
      <img src="assets/img/schnitzeljagd.jpg" alt="Schnitzeljagd">
    </div>
      <ion-item>
        <ion-input label="Nutzername:" formControlName="username" type="text" placeholder="enter username here"></ion-input>
      </ion-item>
    <div class="page-content">
      <ion-button type="submit" [disabled]="!loginForm.valid">
        Start
      </ion-button>
    </div>
  </form>
</ion-content>
