<ion-header>
  <ion-toolbar class="ion-align-items-center">
    <ion-title>{{ currentTitle }}</ion-title>
    <ion-icon
      slot="end"
      class="ion-margin-end"
      name="close-circle-outline"
      style="font-size: 24px"
      color="danger"
      (click)="exit()"
    ></ion-icon>
  </ion-toolbar>
  <app-timer></app-timer>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-toolbar ion-text-center">
    <ion-icon
      name="chevron-forward-circle-outline"
      [color]="taskCompleted ? 'success' : 'medium'"
      (click)="navigateToNextTask()"
    ></ion-icon>
  </ion-toolbar>
</ion-footer>
