<div class="content">
  <p class="ion-text-center">
    Connect your device to a network. If u are already connected first
    disconnect
  </p>

  <p>Status:</p>
  <div *ngIf="isConnected && !isCompleted" class="ion-text-center">
    <ion-icon name="globe-outline"></ion-icon>
    <p>Disconnect</p>
  </div>
  <div *ngIf="!isConnected && !isCompleted" class="ion-text-center">
    <ion-icon name="wifi-outline"></ion-icon>
    <p>Connect</p>
  </div>

  <div *ngIf="isCompleted" class="ion-text-center">
    <ion-icon name="shield-checkmark-outline" color="success"></ion-icon>
    <p>Completed</p>
  </div>
</div>
