<div class="content">
  <ion-text class="ion-text-center"
    >Bitte scannen Sie den QR Code mit folgendem Inhalt:
    <br><ion-label color="danger">{{ toScanValue }}</ion-label>
  </ion-text>

  <ion-button (click)="scan()" expand="block" *ngIf="!taskCompleted">
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    EINSCANNEN
  </ion-button>

  <div *ngIf="scanAttempted">
    <div *ngIf="taskCompleted; else elseBlock" class="result correct">
      Korrekt
    </div>
    <ng-template #elseBlock>
      <div class="result incorrect">Falsch</div>
    </ng-template>
  </div>
</div>
